.pageInfo .dataTable_show{
    padding: .3em .8em;
    float: left;

}


.pageInfo .dataTable_page .page_button{
    padding: .3em .2em;
    display: inline-block;
    color:#989fa9;
    cursor: pointer;
    min-width: 36px;
    margin-left: 2px;
    text-align: center;

}

.pageInfo .dataTable_page .pageNumShow{
     float: right;
     padding-right: 10px;
     width:500px;
     text-align: right;
 }

.pageInfo .dataTable_page .page_button:hover{
    border: 0;
    background: #D6D6D6;
}

.pageInfo .dataTable_page .current{
    color: #5ac1db;
    border: 0;
/*     background: #337ab7; */
}

.pageInfo .dataTable_page .disable{
    color: #bbb;
    cursor:default;
}

.pageFoot{
    padding-top: 30px;
    padding-bottom: 35px;
}

.pageHeader .pageNumShow{
    float: right;
    padding-right: 10px;
}

.page_selected{
    width: 68px;
    height: 28px;
    float: right;
    padding-bottom: 50px;

}

/* 下拉的菜单栏 */
/*.pageNumShow>ul>li{*/
    /*display:none;*/
    /*width:150px;*/
    /*position:absolute;*/
    /*background:#c1cd94;*/
    /*box-shadow:2px 2px 2px #000;*/
    /*-webkit-box-shadow:2px 2px 2px #000;*/
    /*-moz-box-shadow:2px 2px 2px #123;*/
/*}*/